<%= link_to('Add an image +', new_image_url) %>

<tbody>
  <% @images.each do |image| %>
    <div>
      <%= image_tag image.url, class: 'image__index_image', 'data-id': image.id %>
    </div>
  <% end %>
</tbody>
