<p>
  <div class='js-image-url pb-4'>
    <strong>Url:</strong>
    <%= @image.url %>
  </div>
  <%= image_tag @image.url, class: 'js-image' %>
  <div>
    <strong>Tags:</strong>
    <span class='js-tag-list'>
      <%= @image.tag_list %>
    </span>
  </div>
</p>
